www.derpytools.site {
	redir https://derpytools.site permanent
}

derpytools.site {
	tls certs/caddy/cert.pem certs/caddy/key.pem
	# tls /etc/caddy/certs/cert.pem /etc/caddy/certs/key.pem
	encode zstd gzip

	reverse_proxy localhost:4000 # Directly reverse proxy to Phoenix
	# reverse_proxy localhost:3080 # Proxy to Varnish Cache (Only use with production builds)
}

img.derpytools.site {
	reverse_proxy localhost:9080 # Directly reverse proxy to imgproxy
	# reverse_proxy localhost:3080 # Reverse proxy to Varnish cache instead (Only use with production builds)
}

netdata.derpytools.site {
	encode zstd gzip

	reverse_proxy localhost:19999

	basicauth * {
		DerpyCoder $2b$05$4N/0p0i/fsNkiYHhNs9yruEMPbiOsQqxEfMkmrkan9w5hKNxSFRdK
	}
}

canary.derpytools.site {
	encode zstd gzip

	reverse_proxy localhost:4001

	basicauth * {
		DerpyCoder $2b$05$4N/0p0i/fsNkiYHhNs9yruEMPbiOsQqxEfMkmrkan9w5hKNxSFRdK
	}
}

metrics.derpytools.site {
	metrics
}
