<header class={@class}>
  <a href="https://www.derpytools.com/tag/best-of-the-best/">
    <%= inspect(@post.tags) %>
  </a>

  <h1>
    <%= @post.title %>
  </h1>

  <p>
    Taskfile is here to make your life easier and cheatsheets obsolete. It&#x27;s a simple, and easy alternative to writing your shell scripts manually, or maintaining a Makefile.
  </p>
</header>
