<header
  class={@class}
  id="blog-header"
  data-file={__ENV__.file}
  data-line={__ENV__.line}
  phx-hook={Application.fetch_env!(:derpy_tools, :show_inspector?) && "SourceInspector"}
>
  <.intersperse :let={tag} enum={@post.tags}>
    <:separator>
      <span>, </span>
    </:separator>
    <a href={"/tag/#{tag.slug}/"}>
      <%= tag.label %>
    </a>
  </.intersperse>

  <h1>
    <%= @post.title %>
  </h1>

  <p>
    <%= @post.description %>
  </p>
</header>
