<header class={@class}>
  <a href="https://www.derpytools.com/tag/best-of-the-best/">
    <%= inspect(@post.tags) %>
  </a>

  <h1>
    <%= @post.title %>
  </h1>

  <p>
    <%= @post.description %>
  </p>
</header>
