@import "tailwindcss/base";
@import "./base.css";

@import "tailwindcss/components";
@import "./components.css";

@import "tailwindcss/utilities";

@import "./pages.css";

/* This file is for your main application CSS */

#sun,
#moon {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

html.dark #moon {
  transform: translateY(0) scale(1);
  opacity: 1;
}
html.dark #sun {
  transform: translateY(12px) scale(0.7);
  opacity: 0;
}
html #moon {
  transform: translateY(-12px) scale(0.7);
  opacity: 0;
}
html #sun {
  transform: translateY(0) scale(1);
  opacity: 1;
}

html.offline .offline-indicator {
  @apply block;
}

html .offline-indicator {
  @apply hidden;
}

html.offline .online-indicator {
  @apply mix-blend-soft-light;
}

html.offline .ping-indicator {
  @apply hidden;
}
