@font-face {
  font-family: "Barriecito";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("/fonts/Barriecito.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("/fonts/Inter.ttf");
}
