kbd {
  align-items: center;
  background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff,
    0 1px 2px 1px rgba(30, 35, 90, 0.4);
  color: #6d7582;
  display: flex;
  width: fit-content;
  height: 20px;
  justify-content: center;
  position: relative;
  border: 0;
  cursor: pointer;
  font-size: 12px;
  text-shadow: 0 1px 0 #fff;
  padding: 5px 8px 9px 8px;
  margin: 5px 2px 5px 2px;
  font-weight: bold;
  text-transform: uppercase;
}

html.dark kbd {
  color: #cbd5e1;
  background: linear-gradient(-225deg, #121d33, #313f5c);
  box-shadow: inset 0 -2px 0 0 #060c18, inset 0 0 1px 1px #192742,
    0 1px 2px 1px rgb(13, 25, 51);
  text-shadow: 0 1px 0 #192132;
}
