<html>
  <style type="text/css" nonce={@style_nonce}>
    /* Background */ .cad-bg { color: #f5a97f; background-color: #24273a; }
    /* PreWrapper */ .cad-chroma { color: #f5a97f; background-color: #24273a;display: grid; }
    /* LineNumbers targeted by URL anchor */ .cad-chroma .cad-ln:target { color: #f5a97f; background-color: #393c4d }
    /* LineNumbersTable targeted by URL anchor */ .cad-chroma .cad-lnt:target { color: #f5a97f; background-color: #393c4d }
    /* Error */ .cad-chroma .cad-err { color: #ed8796 }
    /* LineLink */ .cad-chroma .cad-lnlinks { outline: none; text-decoration: none; color: inherit }
    /* LineTableTD */ .cad-chroma .cad-lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
    /* LineTable */ .cad-chroma .cad-lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
    /* LineHighlight */ .cad-chroma .cad-hl { background-color: #393c4d }
    /* LineNumbersTable */ .cad-chroma .cad-lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7a543f }
    /* LineNumbers */ .cad-chroma .cad-ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
    /* Line */ .cad-chroma .cad-line { display: flex; }
    /* Keyword */ .cad-chroma .cad-k { color: #c6a0f6 }
    /* KeywordConstant */ .cad-chroma .cad-kc { color: #c6a0f6; font-style: italic }
    /* KeywordDeclaration */ .cad-chroma .cad-kd { color: #c6a0f6 }
    /* KeywordNamespace */ .cad-chroma .cad-kn { color: #c6a0f6 }
    /* KeywordPseudo */ .cad-chroma .cad-kp { color: #c6a0f6; font-weight: bold }
    /* KeywordReserved */ .cad-chroma .cad-kr { color: #c6a0f6 }
    /* KeywordType */ .cad-chroma .cad-kt { color: #eed49f }
    /* Name */ .cad-chroma .cad-n { color: #b7bdf8 }
    /* NameAttribute */ .cad-chroma .cad-na { color: #eed49f }
    /* NameBuiltin */ .cad-chroma .cad-nb { font-style: italic }
    /* NameBuiltinPseudo */ .cad-chroma .cad-bp { color: #b7bdf8 }
    /* NameClass */ .cad-chroma .cad-nc { color: #eed49f }
    /* NameConstant */ .cad-chroma .cad-no { color: #eed49f }
    /* NameDecorator */ .cad-chroma .cad-nd { color: #f5bde6 }
    /* NameEntity */ .cad-chroma .cad-ni { color: #f5bde6 }
    /* NameException */ .cad-chroma .cad-ne { color: #ee99a0 }
    /* NameFunction */ .cad-chroma .cad-nf { color: #91d7e3 }
    /* NameFunctionMagic */ .cad-chroma .cad-fm { color: #b7bdf8 }
    /* NameLabel */ .cad-chroma .cad-nl { color: #eed49f }
    /* NameNamespace */ .cad-chroma .cad-nn { color: #eed49f }
    /* NameProperty */ .cad-chroma .cad-py { color: #b7bdf8 }
    /* NameTag */ .cad-chroma .cad-nt { color: #c6a0f6 }
    /* NameVariableClass */ .cad-chroma .cad-vc { color: #b7bdf8 }
    /* NameVariableGlobal */ .cad-chroma .cad-vg { color: #b7bdf8 }
    /* NameVariableInstance */ .cad-chroma .cad-vi { color: #b7bdf8 }
    /* NameVariableMagic */ .cad-chroma .cad-vm { color: #b7bdf8 }
    /* LiteralString */ .cad-chroma .cad-s { color: #a6da95 }
    /* LiteralStringAffix */ .cad-chroma .cad-sa { color: #a6da95 }
    /* LiteralStringBacktick */ .cad-chroma .cad-sb { color: #a6da95 }
    /* LiteralStringChar */ .cad-chroma .cad-sc { color: #a6da95 }
    /* LiteralStringDelimiter */ .cad-chroma .cad-dl { color: #a6da95 }
    /* LiteralStringDoc */ .cad-chroma .cad-sd { color: #a6da95 }
    /* LiteralStringDouble */ .cad-chroma .cad-s2 { color: #a6da95 }
    /* LiteralStringEscape */ .cad-chroma .cad-se { color: #8aadf4 }
    /* LiteralStringHeredoc */ .cad-chroma .cad-sh { color: #a6da95 }
    /* LiteralStringInterpol */ .cad-chroma .cad-si { color: #a6da95 }
    /* LiteralStringOther */ .cad-chroma .cad-sx { color: #a6da95 }
    /* LiteralStringRegex */ .cad-chroma .cad-sr { color: #8aadf4 }
    /* LiteralStringSingle */ .cad-chroma .cad-s1 { color: #a6da95 }
    /* LiteralStringSymbol */ .cad-chroma .cad-ss { color: #a6da95 }
    /* Operator */ .cad-chroma .cad-o { color: #91d7e3 }
    /* OperatorWord */ .cad-chroma .cad-ow { color: #91d7e3; font-weight: bold }
    /* Punctuation */ .cad-chroma .cad-p { color: #cad3f5 }
    /* Comment */ .cad-chroma .cad-c { color: #5b6078; font-style: italic }
    /* CommentHashbang */ .cad-chroma .cad-ch { color: #5b6078; font-style: italic }
    /* CommentMultiline */ .cad-chroma .cad-cm { color: #5b6078; font-style: italic }
    /* CommentSingle */ .cad-chroma .cad-c1 { color: #5b6078; font-style: italic }
    /* CommentSpecial */ .cad-chroma .cad-cs { color: #5b6078; font-style: italic }
    /* CommentPreproc */ .cad-chroma .cad-cp { color: #8aadf4; font-style: italic }
    /* CommentPreprocFile */ .cad-chroma .cad-cpf { color: #8aadf4; font-style: italic }
    /* GenericDeleted */ .cad-chroma .cad-gd { color: #ee99a0 }
    /* GenericEmph */ .cad-chroma .cad-ge { font-style: italic }
    /* GenericError */ .cad-chroma .cad-gr { color: #ee99a0 }
    /* GenericHeading */ .cad-chroma .cad-gh { color: #91d7e3; font-weight: bold }
    /* GenericInserted */ .cad-chroma .cad-gi { color: #a6da95 }
    /* GenericPrompt */ .cad-chroma .cad-gp { color: #6e738d; font-weight: bold }
    /* GenericStrong */ .cad-chroma .cad-gs { font-weight: bold }
    /* GenericSubheading */ .cad-chroma .cad-gu { color: #91d7e3; font-weight: bold }
    /* GenericTraceback */ .cad-chroma .cad-gt { color: #ee99a0 }
    /* TextWhitespace */ .cad-chroma .cad-w { color: #363a4f }
    body { color: #f5a97f; background-color: #24273a;; }
  </style>
  <body class="cad-bg">
    <pre class="cad-chroma max-h-96 overflow-auto not-prose"><code><span class="cad-line"><span class="cad-ln" id="L1"><a class="cad-lnlinks" href="#L1"> 1</a></span><span class="cad-cl"><span class="cad-n">(common)</span> <span class="cad-p">{</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L2"><a class="cad-lnlinks" href="#L2"> 2</a></span><span class="cad-cl">	<span class="cad-k">header</span> <span class="cad-nd">/*</span> <span class="cad-p">{</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L3"><a class="cad-lnlinks" href="#L3"> 3</a></span><span class="cad-cl">		<span class="cad-k">-server</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L4"><a class="cad-lnlinks" href="#L4"> 4</a></span><span class="cad-cl">		<span class="cad-k">-X-Powered-By</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L5"><a class="cad-lnlinks" href="#L5"> 5</a></span><span class="cad-cl">		<span class="cad-k">-via</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L6"><a class="cad-lnlinks" href="#L6"> 6</a></span><span class="cad-cl">	<span class="cad-p">}</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L7"><a class="cad-lnlinks" href="#L7"> 7</a></span><span class="cad-cl">	<span class="cad-nd">@static</span> <span class="cad-p">{</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L8"><a class="cad-lnlinks" href="#L8"> 8</a></span><span class="cad-cl">		<span class="cad-k">file</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L9"><a class="cad-lnlinks" href="#L9"> 9</a></span><span class="cad-cl">		<span class="cad-k">path</span> <span class="cad-s">*.ico</span> <span class="cad-s">*.css</span> <span class="cad-s">*.js</span> <span class="cad-s">*.gif</span> <span class="cad-s">*.webp</span> <span class="cad-s">*.avif</span> <span class="cad-s">*.jpg</span> <span class="cad-s">*.jpeg</span> <span class="cad-s">*.png</span> <span class="cad-s">*.svg</span> <span class="cad-s">*.woff</span> <span class="cad-s">*.woff2</span>
</span></span><span class="cad-line cad-hl"><span class="cad-ln" id="L10"><a class="cad-lnlinks" href="#L10">10</a></span><span class="cad-cl">	<span class="cad-p">}</span>
</span></span><span class="cad-line cad-hl"><span class="cad-ln" id="L11"><a class="cad-lnlinks" href="#L11">11</a></span><span class="cad-cl">	<span class="cad-k">header</span> <span class="cad-nd">@static</span> <span class="cad-s">cache-control</span> <span class="cad-s">&#34;max-age=0;</span> <span class="cad-s">must-revalidate;</span> <span class="cad-s">public;&#34;</span>
</span></span><span class="cad-line cad-hl"><span class="cad-ln" id="L12"><a class="cad-lnlinks" href="#L12">12</a></span><span class="cad-cl">
</span></span><span class="cad-line cad-hl"><span class="cad-ln" id="L13"><a class="cad-lnlinks" href="#L13">13</a></span><span class="cad-cl">	<span class="cad-k">handle_errors</span> <span class="cad-p">{</span>
</span></span><span class="cad-line cad-hl"><span class="cad-ln" id="L14"><a class="cad-lnlinks" href="#L14">14</a></span><span class="cad-cl">		<span class="cad-k">@custom_err</span> <span class="cad-s">file</span> <span class="cad-s">/errors/</span><span class="cad-se">{err.status_code}</span><span class="cad-s">.html</span> <span class="cad-s">/errors/error.html</span>
</span></span><span class="cad-line cad-hl"><span class="cad-ln" id="L15"><a class="cad-lnlinks" href="#L15">15</a></span><span class="cad-cl">		<span class="cad-k">handle</span> <span class="cad-s">@custom_err</span> <span class="cad-p">{</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L16"><a class="cad-lnlinks" href="#L16">16</a></span><span class="cad-cl">			<span class="cad-k">rewrite</span> <span class="cad-s">*</span> <span class="cad-se">{file_match.relative}</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L17"><a class="cad-lnlinks" href="#L17">17</a></span><span class="cad-cl">			<span class="cad-k">file_server</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L18"><a class="cad-lnlinks" href="#L18">18</a></span><span class="cad-cl">		<span class="cad-p">}</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L19"><a class="cad-lnlinks" href="#L19">19</a></span><span class="cad-cl">		<span class="cad-k">respond</span> <span class="cad-s">&#34;</span><span class="cad-se">{err.status_code}</span> <span class="cad-se">{err.status_text}</span><span class="cad-s">&#34;</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L20"><a class="cad-lnlinks" href="#L20">20</a></span><span class="cad-cl">	<span class="cad-p">}</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L21"><a class="cad-lnlinks" href="#L21">21</a></span><span class="cad-cl"><span class="cad-p">}</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L22"><a class="cad-lnlinks" href="#L22">22</a></span><span class="cad-cl">
</span></span><span class="cad-line"><span class="cad-ln" id="L23"><a class="cad-lnlinks" href="#L23">23</a></span><span class="cad-cl"><span class="cad-gh">www.derpytools.site</span> <span class="cad-p">{</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L24"><a class="cad-lnlinks" href="#L24">24</a></span><span class="cad-cl">	<span class="cad-k">redir</span> <span class="cad-s">https://derpytools.site</span> <span class="cad-s">permanent</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L25"><a class="cad-lnlinks" href="#L25">25</a></span><span class="cad-cl"><span class="cad-p">}</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L26"><a class="cad-lnlinks" href="#L26">26</a></span><span class="cad-cl">
</span></span><span class="cad-line"><span class="cad-ln" id="L27"><a class="cad-lnlinks" href="#L27">27</a></span><span class="cad-cl"><span class="cad-gh">derpytools.site</span> <span class="cad-p">{</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L28"><a class="cad-lnlinks" href="#L28">28</a></span><span class="cad-cl">	<span class="cad-k">tls</span> <span class="cad-s">certs/caddy</span><span class="cad-nd">/cert.pem</span> <span class="cad-s">certs/caddy/key.pem</span><span class="cad-c1">
</span></span></span><span class="cad-line"><span class="cad-ln" id="L29"><a class="cad-lnlinks" href="#L29">29</a></span><span class="cad-cl"><span class="cad-c1">	# tls /etc/caddy/certs/cert.pem /etc/caddy/certs/key.pem
</span></span></span><span class="cad-line"><span class="cad-ln" id="L30"><a class="cad-lnlinks" href="#L30">30</a></span><span class="cad-cl"><span class="cad-c1"></span>	<span class="cad-k">encode</span> <span class="cad-s">zstd</span> <span class="cad-s">gzip</span><span class="cad-c1">
</span></span></span><span class="cad-line"><span class="cad-ln" id="L31"><a class="cad-lnlinks" href="#L31">31</a></span><span class="cad-cl"><span class="cad-c1">
</span></span></span><span class="cad-line"><span class="cad-ln" id="L32"><a class="cad-lnlinks" href="#L32">32</a></span><span class="cad-cl"><span class="cad-c1">	# Directly reverse proxy to Phoenix
</span></span></span><span class="cad-line"><span class="cad-ln" id="L33"><a class="cad-lnlinks" href="#L33">33</a></span><span class="cad-cl"><span class="cad-c1"></span>	<span class="cad-k">reverse_proxy</span> <span class="cad-n">localhost</span><span class="cad-p">:</span><span class="cad-mi">4000</span><span class="cad-c1">
</span></span></span><span class="cad-line"><span class="cad-ln" id="L34"><a class="cad-lnlinks" href="#L34">34</a></span><span class="cad-cl"><span class="cad-c1">
</span></span></span><span class="cad-line"><span class="cad-ln" id="L35"><a class="cad-lnlinks" href="#L35">35</a></span><span class="cad-cl"><span class="cad-c1">	# Proxy to Varnish Cache (Only use with production builds)
</span></span></span><span class="cad-line"><span class="cad-ln" id="L36"><a class="cad-lnlinks" href="#L36">36</a></span><span class="cad-cl"><span class="cad-c1">	# reverse_proxy localhost:3080
</span></span></span><span class="cad-line"><span class="cad-ln" id="L37"><a class="cad-lnlinks" href="#L37">37</a></span><span class="cad-cl"><span class="cad-c1"></span>
</span></span><span class="cad-line"><span class="cad-ln" id="L38"><a class="cad-lnlinks" href="#L38">38</a></span><span class="cad-cl">	<span class="cad-k">import</span> <span class="cad-vm">common</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L39"><a class="cad-lnlinks" href="#L39">39</a></span><span class="cad-cl"><span class="cad-p">}</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L40"><a class="cad-lnlinks" href="#L40">40</a></span><span class="cad-cl">
</span></span><span class="cad-line"><span class="cad-ln" id="L41"><a class="cad-lnlinks" href="#L41">41</a></span><span class="cad-cl"><span class="cad-gh">img.derpytools.site</span> <span class="cad-p">{</span><span class="cad-c1">
</span></span></span><span class="cad-line"><span class="cad-ln" id="L42"><a class="cad-lnlinks" href="#L42">42</a></span><span class="cad-cl"><span class="cad-c1">	# Directly reverse proxy to imgproxy
</span></span></span><span class="cad-line"><span class="cad-ln" id="L43"><a class="cad-lnlinks" href="#L43">43</a></span><span class="cad-cl"><span class="cad-c1"></span>	<span class="cad-k">reverse_proxy</span> <span class="cad-n">localhost</span><span class="cad-p">:</span><span class="cad-mi">9080</span><span class="cad-c1">
</span></span></span><span class="cad-line"><span class="cad-ln" id="L44"><a class="cad-lnlinks" href="#L44">44</a></span><span class="cad-cl"><span class="cad-c1">
</span></span></span><span class="cad-line"><span class="cad-ln" id="L45"><a class="cad-lnlinks" href="#L45">45</a></span><span class="cad-cl"><span class="cad-c1">	# Reverse proxy to Varnish cache instead (Only use with production builds)
</span></span></span><span class="cad-line"><span class="cad-ln" id="L46"><a class="cad-lnlinks" href="#L46">46</a></span><span class="cad-cl"><span class="cad-c1">	# reverse_proxy localhost:3080 {
</span></span></span><span class="cad-line"><span class="cad-ln" id="L47"><a class="cad-lnlinks" href="#L47">47</a></span><span class="cad-cl"><span class="cad-c1">	# 	header_down Cache-Control &#34;max-age=0; must-revalidate; public;&#34;
</span></span></span><span class="cad-line"><span class="cad-ln" id="L48"><a class="cad-lnlinks" href="#L48">48</a></span><span class="cad-cl"><span class="cad-c1">	# }
</span></span></span><span class="cad-line"><span class="cad-ln" id="L49"><a class="cad-lnlinks" href="#L49">49</a></span><span class="cad-cl"><span class="cad-c1"></span>
</span></span><span class="cad-line"><span class="cad-ln" id="L50"><a class="cad-lnlinks" href="#L50">50</a></span><span class="cad-cl">	<span class="cad-k">import</span> <span class="cad-vm">common</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L51"><a class="cad-lnlinks" href="#L51">51</a></span><span class="cad-cl"><span class="cad-p">}</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L52"><a class="cad-lnlinks" href="#L52">52</a></span><span class="cad-cl">
</span></span><span class="cad-line"><span class="cad-ln" id="L53"><a class="cad-lnlinks" href="#L53">53</a></span><span class="cad-cl"><span class="cad-gh">netdata.derpytools.site</span> <span class="cad-p">{</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L54"><a class="cad-lnlinks" href="#L54">54</a></span><span class="cad-cl">	<span class="cad-k">encode</span> <span class="cad-s">zstd</span> <span class="cad-s">gzip</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L55"><a class="cad-lnlinks" href="#L55">55</a></span><span class="cad-cl">
</span></span><span class="cad-line"><span class="cad-ln" id="L56"><a class="cad-lnlinks" href="#L56">56</a></span><span class="cad-cl">	<span class="cad-k">reverse_proxy</span> <span class="cad-n">localhost</span><span class="cad-p">:</span><span class="cad-mi">19999</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L57"><a class="cad-lnlinks" href="#L57">57</a></span><span class="cad-cl">
</span></span><span class="cad-line"><span class="cad-ln" id="L58"><a class="cad-lnlinks" href="#L58">58</a></span><span class="cad-cl">	<span class="cad-k">basicauth</span> <span class="cad-nd">*</span> <span class="cad-p">{</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L59"><a class="cad-lnlinks" href="#L59">59</a></span><span class="cad-cl">		<span class="cad-k">DerpyCoder</span> <span class="cad-err">$</span><span class="cad-s">2b</span><span class="cad-err">$</span><span class="cad-mi">05</span><span class="cad-err">$</span><span class="cad-s">4N/0p0i/fsNkiYHhNs9yruEMPbiOsQqxEfMkmrkan9w5hKNxSFRdK</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L60"><a class="cad-lnlinks" href="#L60">60</a></span><span class="cad-cl">	<span class="cad-p">}</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L61"><a class="cad-lnlinks" href="#L61">61</a></span><span class="cad-cl">
</span></span><span class="cad-line"><span class="cad-ln" id="L62"><a class="cad-lnlinks" href="#L62">62</a></span><span class="cad-cl">	<span class="cad-k">import</span> <span class="cad-vm">common</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L63"><a class="cad-lnlinks" href="#L63">63</a></span><span class="cad-cl"><span class="cad-p">}</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L64"><a class="cad-lnlinks" href="#L64">64</a></span><span class="cad-cl">
</span></span><span class="cad-line"><span class="cad-ln" id="L65"><a class="cad-lnlinks" href="#L65">65</a></span><span class="cad-cl"><span class="cad-gh">canary.derpytools.site</span> <span class="cad-p">{</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L66"><a class="cad-lnlinks" href="#L66">66</a></span><span class="cad-cl">	<span class="cad-k">encode</span> <span class="cad-s">zstd</span> <span class="cad-s">gzip</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L67"><a class="cad-lnlinks" href="#L67">67</a></span><span class="cad-cl">
</span></span><span class="cad-line"><span class="cad-ln" id="L68"><a class="cad-lnlinks" href="#L68">68</a></span><span class="cad-cl">	<span class="cad-k">reverse_proxy</span> <span class="cad-n">localhost</span><span class="cad-p">:</span><span class="cad-mi">4001</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L69"><a class="cad-lnlinks" href="#L69">69</a></span><span class="cad-cl">
</span></span><span class="cad-line"><span class="cad-ln" id="L70"><a class="cad-lnlinks" href="#L70">70</a></span><span class="cad-cl">	<span class="cad-k">basicauth</span> <span class="cad-nd">*</span> <span class="cad-p">{</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L71"><a class="cad-lnlinks" href="#L71">71</a></span><span class="cad-cl">		<span class="cad-k">DerpyCoder</span> <span class="cad-err">$</span><span class="cad-s">2b</span><span class="cad-err">$</span><span class="cad-mi">05</span><span class="cad-err">$</span><span class="cad-s">4N/0p0i/fsNkiYHhNs9yruEMPbiOsQqxEfMkmrkan9w5hKNxSFRdK</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L72"><a class="cad-lnlinks" href="#L72">72</a></span><span class="cad-cl">	<span class="cad-p">}</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L73"><a class="cad-lnlinks" href="#L73">73</a></span><span class="cad-cl">
</span></span><span class="cad-line"><span class="cad-ln" id="L74"><a class="cad-lnlinks" href="#L74">74</a></span><span class="cad-cl">	<span class="cad-k">import</span> <span class="cad-vm">common</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L75"><a class="cad-lnlinks" href="#L75">75</a></span><span class="cad-cl"><span class="cad-p">}</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L76"><a class="cad-lnlinks" href="#L76">76</a></span><span class="cad-cl">
</span></span><span class="cad-line"><span class="cad-ln" id="L77"><a class="cad-lnlinks" href="#L77">77</a></span><span class="cad-cl"><span class="cad-gh">metrics.derpytools.site</span> <span class="cad-p">{</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L78"><a class="cad-lnlinks" href="#L78">78</a></span><span class="cad-cl">	<span class="cad-k">metrics</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L79"><a class="cad-lnlinks" href="#L79">79</a></span><span class="cad-cl">
</span></span><span class="cad-line"><span class="cad-ln" id="L80"><a class="cad-lnlinks" href="#L80">80</a></span><span class="cad-cl">	<span class="cad-k">import</span> <span class="cad-vm">common</span>
</span></span><span class="cad-line"><span class="cad-ln" id="L81"><a class="cad-lnlinks" href="#L81">81</a></span><span class="cad-cl"><span class="cad-p">}</span>
</span></span></code></pre>
  </body>
</html>
